body {  
        /* background-color: yellow; */
}
.redbox{

	margin: auto;
	width: 200px;
	height:200px;

}

.flip{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

